<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/IChatCustomToolbar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Fragments.Status.IChatStatusImageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Home.HomeActivity.IChatImageShowActivity"
            android:exported="false"
            android:theme="@style/IChatCustomToolbarForImageZoom" />
        <activity
            android:name=".Home.Profile.ProfileUpdate"
            android:exported="false" />
        <activity
            android:name=".Home.Call.IChatVideoCallConnectingActivity"
            android:exported="false" />
        <activity
            android:name=".Home.Call.IChatVideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".login.IChatSignInNewActivity"
            android:exported="false" />
        <activity
            android:name=".login.IChatSignUpNewActivity"
            android:exported="false" />
        <activity
            android:name=".Home.Profile.ProfileInfoUpdateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Home.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Home.HomeActivity.ChatMessageActivity"
            android:exported="false"
            android:theme="@style/IChatCustomToolbarForMessageChat"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Splash.IChatSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.HomeActivity.HomeActivity"
            android:exported="false" />
    </application>

</manifest>